.settings
.project
log/
.idea/*
/.idea
*.iml
*.DS_Store
.classpath
.factorypath
.pydevproject
/.factorypath
target/
/integration/log.txt
/integration/**/*.pyc
log.dir_IS_UNDEFINED/
log.dir_IS_UNDEFINED/*
**/.idea/*
run.sh
shared/
out/*
/out
*.ipr
*.iws
.metadata/
.recommenders/
*.springBeans
*.mvn/*
/.mvn
mvnw
mvnw.cmd
.factorypath
